/* 
&display=swap
&subset=cyrillic-ext 
*


/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,500italic,700,700italic,900,900italic&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: roboto;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */
.header {
	padding: 26px 0px 0px 0px;
	background: url(../img/HERO3.jpg) 0 0 / cover no-repeat;
}
[class*="__container"] {
	max-width: 1020px;
	margin: 0px auto;
}
.header-hat {
	display: flex;
	gap: 30px;
	margin: 0px 0px 28px 0px;
}
.header-hat__items h3 {
	text-transform: uppercase;
}
.header-hat__items {
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #fff;
	font-weight: 500;
	display: flex;
	gap: 10px;
}
.header-hat__btn {
	background: #f2726f;
	border-radius: 8px;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 9px 35px;
}
.header-hat__btn:hover {
	background: red;
}
.header-hat__items_logo {
	cursor: pointer;
	flex: 1 0 auto;
}
.header-hat__items_hours::before {
	content: "";
	background: url("../img/clock.svg") no-repeat;
	height: 24px;
	width: 24px;
	transform: translateY(4px);
}
.header-hat__call::before {
	content: "";
	background: url("../img/phone.svg") no-repeat;
	height: 24px;
	width: 24px;
	transform: translateY(4px);
}
.header-nav {
	width: 100%;
	background: #fff;
	border-radius: 10px;
	margin: 0px 0px 286px 0px;
}
.header-nav__body {
	padding: 18px 0px;
	max-width: 940px;
	margin: 0px auto;
	display: flex;
	gap: 37px;
	align-items: center;
}

.header-nav__item a {
	display: inline-flex;
	align-items: baseline;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #000;
}
.header-nav__icons {
	display: inline-flex;
	flex: 1 1 auto;
	gap: 22px;
	justify-content: flex-end;
}
.header-nav__search {
	cursor: pointer;
}
.header-nav__cart {
	position: relative;
	cursor: pointer;
}
.header-nav__item_expand::after {
	content: "";
	background: url("../img/expand_more.svg") no-repeat;
	width: 16px;
	height: 16px;
	display: inline-flex;
	transform: translateY(4px);
}
.header-nav__cart_item::after {
	content: "2";
	background: #f2726f;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	color: #fff;
	letter-spacing: 0.15px;
	font-size: 10px;
	line-height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -10px;
	left: 15px;
	font-weight: 500;
}

.header-body__title {
	max-width: 583px;
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
	color: #fff;
	margin: 0px 0px 48px 0px;
}
.header-body__btn a {
	display: inline-block;
	background: #f2726f;
	border-radius: 8px;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 9px 35px;
	margin: 0px 0px 312px 0px;
}
.header-body__btn a:hover {
	background: red;
}
.main {
	margin: 0px 0px 10px 0px;
}
.who-we-are {
	max-width: 1020px;
	max-height: 700px;
	margin: 0px auto 170px;
	border-radius: 40px;
	position: relative;
}
.who-we-are::after {
	content: "";
	background: url("../img/Stylize.svg") no-repeat;
	width: 201px;
	height: 317px;
	position: absolute;
	top: -110px;
	left: 90%;
}

.who-we-are__container {
	padding: 100px 87px 354px 87px;
	margin: -80px auto;
	background: #5d62b5 url("../img/Blob2.png") -10% 250% no-repeat;
	border-radius: 40px;
}
.who-we-are__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	line-height: 150%;
	letter-spacing: 2.5px;
	color: #f5f5f5;
	margin: 0px 0px 33px 0px;
	display: flex;
	gap: 16px;
}
.who-we-are__title::before {
	content: "";
	background: url("../img/OverlineMark.svg") 0 0 / cover no-repeat;
	flex: 0 0 17px;
	height: 16px;
	align-self: flex-start;
}

.who-we-are__subtitle {
	max-width: 583px;
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	font-weight: 900;
	margin: 0px 0px 36px 0px;
}
.who-we-are__text {
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}
.dog-image {
	max-width: 846px;
	max-height: 420px;
	border-radius: 40px;
	margin: -290px auto;
}
.dog-image img {
	border-radius: 40px;
}
.nemo {
	background: url("../img/pup.png") 10% 99% / 544px 390px no-repeat, url("../img/Blob-2.png") no-repeat,
		url("../img/StylizeCircles2.svg") 0 70% no-repeat, #29c3be;
	min-height: 500px;
}
.nemo__container {
	max-width: 1440px;
	margin: 0px auto;
}
.nemo__title {
	max-width: 411px;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	margin: 0px 0px 45px 0px;
}
.nemo__btn {
	text-transform: uppercase;
	max-width: 210px;
	background: #f2726f;
	border-radius: 8px;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #fff;
	padding: 12px 30px;
}
.nemo__btn:hover {
	background: red;
}
.nemo__body {
	display: flex;
}
.nemo__content {
	background: url("../img/tennis-ball.png") 95% 65% no-repeat, url("../img/Line.png") -120% no-repeat;
	padding-top: 112px;
	flex: 0 1 411px;
}
.nemo__decor {
	flex: 1 0 570px;
}
/* ------------------------------- Адаптив*/
@media (max-width: 1050px) {
	[class*="__container"] {
		max-width: 970px;
	}
	.nemo {
	}
}
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
		padding: 10px;
	}
	.nemo__decor {
		display: none;
	}
	.nemo__body {
		display: flex;
		justify-content: center;
	}
	.dog-image {
		display: none;
	}
	.who-we-are {
		margin: 0px 0px 80px 0px;
	}
	.who-we-are__container {
		padding: 305px 15px;
	}
	.who-we-are__text {
		margin: 0px 0px 40px 0px;
	}
	.header-nav {
		margin: 0px 0px 80px 0px;
	}
	.header-nav__body {
		padding: 15px;
	}
	.header-hat__btn {
		display: none;
	}
	.nemo__content {
		background: url("../img/tennis-ball.png") -95% 65% no-repeat;
	}
}
@media (max-width: 768px) {
	[class*="__container"] {
		max-width: none;
		padding: 15px;
	}
	.nemo {
		padding: 50px 0px 0px 0px;
		background: url("../img/pup.png") 10% 99% / 0px 0px no-repeat, url("../img/Blob-2.png") no-repeat,
			url("../img/StylizeCircles2.svg") 0 70% no-repeat, #29c3be;
	}
	.header-hat__items_hours {
		display: none;
	}
}
@media (max-width: 769px) {
	.header-nav__items {
		display: inline-flex;
	}
	.header-nav {
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;
	}
	.header-nav__body {
		display: flex;
		flex: 1 1 auto;
		margin: 0px;
	}
	.header-nav {
		margin: 0px 0px 168px 0px;
	}
	.header-nav__items {
		display: none;
	}
	.header-nav__menu {
		padding: 15px;
		display: inline-flex;
		flex-direction: column;
		row-gap: 8px;
	}
	.header-nav__line {
		background: #000;
		width: 50px;
		height: 5px;
		border-radius: 2px;
	}
}
@media (max-width: 426px) {
	.header-hat__call {
		display: none;
	}
	.header-body__title {
		max-width: 300px;
		font-size: 28px;
	}
	.header-nav {
		margin: 0px 0px 75px 0px;
	}
	.nemo {
		padding-top: 10px;
		background: #29c3be;
	}
	.nemo__title {
		font-size: 18px;
	}
	.who-we-are__subtitle {
		font-size: 18px;
	}
	.who-we-are {
		padding-top: 100px;
		background: #5d62b5;
	}
	.who-we-are::after {
		background: none;
	}
}
